#content #chatList {
	position:absolute;
	left:5%;
	height:50%;
	top:18%;
	width:30%;
	overflow:auto;
}


#content #emoticonsContainer {
	top:77%;
}

#content #inputFieldContainer{
	position:absolute;
	left:5%;
	top:69%;
	width:30%;
	overflow:auto;
}

#content #submitButtonContainer{
	position:absolute;
	left:37%;
	top:70%;
}